* {
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background: rgb(134, 214, 124);
    font-size: 15px;
    color: rgb(43, 34, 51);
    font-family: 'Abril Fatface', cursive;;
    font-weight: 300;
}
nav {
    display: flex;
    background-color: rgb(63, 104, 59);
    justify-content: space-around;
    padding: 20px 0;
    color: rgb(201, 223, 243);
}
nav .logo{
    font-family: 'Boogaloo', cursive;
}
nav ul{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}
nav ul li a{
    color: rgb(180, 193, 204);
    text-decoration: none;
    cursor: pointer;
}
nav ul li a:hover{
    color: rgb(235, 243, 250);
}
@media screen and (max-width: 768px){
    nav ul{
        width: 50%;
    }
}
@media screen and (max-width: 576px){
    nav ul{
        width: none;
    }
}